# Web Framework
fastapi>=0.110.0
jinja2>=3.1.2
uvicorn[standard]==0.24.0
python-multipart==0.0.6
slowapi>=0.1.9
moviepy>=1.0.3
openai>=1.0.0


# Database
sqlalchemy>=2.0.36
alembic==1.12.1
psycopg2-binary==2.9.11

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv==1.0.0

# ICAP Protocol
pyicap==1.0b1

# AI/ML
openai>=1.40.0

# Utilities
pydantic>=2.7.4
pydantic-settings==2.1.0
email-validator==2.1.0
python-dateutil==2.8.2
python-docx
pypdf
pytesseract
Pillow>=1.1.0

# Monitoring & Logging
python-json-logger==2.0.7

# Testing
pytest==7.4.3
pytest-asyncio==0.21.1
httpx==0.25.1
langchain>=0.2.0
langchain-openai>=0.1.0