name: Deploy to Cloud
# Trigger sync

# Workflow to deploy to self-hosted runner
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        # This replaces 'git pull' - it puts the new code in the runner's work directory

      - name: Execute Deploy Script
        run: |
          chmod +x ./deploy.sh
          ./deploy.sh
